.App {

  background-color: gray;
  text-align: center;
  /* border: 2px solid black; */
  width: 40%;
  margin: 5vh auto;
  min-width: 400px;
}

.inputbox input[type="text"]{
  background-color: black;
  text-align: right;
  color: white;
  width: 80%;
  height: 4rem;
  font-size: 2.3rem;
  margin: 1rem;
  padding: 1rem;
  border-radius:1rem ;
}
.buttons{
  /* border: 2px solid red; */
}

input[type="button"]{
  width: 5rem;
  height: 70px;
  font-size: 2rem;
  margin: 0.5rem;
  border-radius: 1rem ;
  border: none;
  background-color: rgb(219, 148, 15);
  color: rgb(46, 46, 45);
  font-weight: bold;
}

input[type="button"].main{
  background-color: aqua;
}


input[type="button"].equal{
  width: 11rem;
}


input[type="button"]:hover{
  cursor: pointer;
  background-color: rgb(248, 163, 6);
  border: 1px solid rgb(122, 120, 120);
}
input[type="button"].main:hover{
  cursor: pointer;
  background-color: rgb(0, 195, 255);
  border: 1px solid rgb(122, 120, 120);
}






